
.sidebar {
  margin: 0;
  padding: 0;
  width: 245px;
  background-color: #20002f;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
}

.nav_logo {
  height: 150px;
  padding-left: 30px;
}

.nav_circle {
  margin: auto;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10%;
}

.logo_name {
  margin-top: 20px;
  padding-left: 122px;
  background-color: white;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -200px;
  font-family: 'Open Sans', sans-serif;
}

.nav_logo_name {
  color: #20002f;
}

.lets_go {
  width: 100%; 
  text-align: center; 
  border-bottom: 4px solid rgb(255, 9, 103);
  line-height: 0.1em;
  margin: 20px -10px 50px; 
} 

.lets {
  background-color: #20002f;
  padding: 8px;
}

.sidebar a:hover:not(.active) {
  color: rgb(255, 9, 103);
}

.aaron_nav_contact {
  color: white;
  padding-left: 20%;
  padding-top: 30%;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  letter-spacing: 0px;
}

/****** PANEL 1 ***************/

main { 
  margin-left: 245px;
 }

#p1-container{
  background-color: #100118;
  color: white;
}

.welcome {
  color: rgb(255, 9, 103);
  font-size: 2em;
}
.p1-text {
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 50vw;
  text-align: justify;
}
.p1-text h3 {
  max-width: fit-content;
  margin: auto;
}
.item {
  font-family:  'Mulish', sans-serif;
  padding-top: 10px;
  margin-left: 365px;
}
.item:hover{
  cursor: pointer;
}
.add-label{
  font-family:  'Mulish', sans-serif;
}
span.add-label{
  display:none;
 }
.item .add-label a{
  text-decoration: none;
  color:rgb(255, 9, 103);
}
 .item:hover span.align{
  display:none;
 }
 .item:hover span.add-label{
  display:block;
 }

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
      float: left;
      font-size: 16px;
      letter-spacing: 1px;
    }
    div.content {margin-left: 0;
    }
    .aaron_nav_contact {
        display: none;
    }
    #sidebar-logo {
        display: none;
    }
    main {
        margin: auto;
    }
    .p1-text{
        width: 95vw;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

