#panel2 {
    margin-top: 4em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;  
}

.headings {
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 20px;
  color: #72005d;
}

.service-img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  width: 250px;
  height: 350px;
}

.p-text {
  padding-top: 30px;
}

.process_circle {
  height: 150px;
  width: 150px;
  background-color: #72005d;
  border-radius: 50%;
  margin-left: 50px;
}

.process_text {
  font-size: 60px;
  padding-top: 30px;
  padding-left: 65px;
  padding-right: 75px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.fa-long-arrow-right {
  bottom: 35%;
  margin-left: 200px;
  position: relative;
  left: 10%;
  right: 50%;
}

.next_section_2 {
  bottom: 10px;
  margin-left: 50%;
  margin-right: 50%;
}

.process-text {
  width: 17em;
}

.videos {
  max-width: fit-content;
  margin: auto;
}

.videos h4 {
  max-width: fit-content;
  margin: auto;
  font-weight: bold;
}

.vid2{
  margin-left: 100px;
}
